<div class="welcome container2 grey col-10 ">
  <h1> <strong> !BIENVENIDO A BASKET CONSUMER PLATFORM¡ </strong></h1>
  <p>Si eres una organizacion, registrandote podrás ofrecer tus productos en los puntos de recogida habilitados a
    cualquier usuario registrado</p>
  <p>Si eres un usuario, registrate para poder optar a la diversa oferta de productos disponibles para recoger</p>
  <!-- <p>!Fuerza gente!</p> -->
</div>



<div class="button_container marginBottomForFooter mt-5">
  <button class="btn col-4 mb-5" [routerLink]="['/userLogin']"><span>USUARIO</span></button>
  <button class="btn col-4 mt-5" [routerLink]="['/organizationLogin']"><span>ORGANIZACION</span></button>
  <!--<p class="link">
    Design by 
    <a href="https://dribbble.com/skytrip" target="_blank">SkyTrip</a>
  </p>-->
</div>
