<div class="container grey borderXwidth col-8">
  <a data-section="orders" (click)="loadSection($event)">PEDIDOS</a>
  <a data-section="deliveryPoints" (click)="loadSection($event)">PUNTOS DE RECOGIDA
  </a>
  <a data-section="baskets" (click)="loadSection($event)">CESTAS</a>

  <a (click)="closeSession()">CERRAR SESION</a>
</div>
<div class="welcome container2 grey col-5">
  <h1>
    ¡¡ Bienvenido <strong>{{ userName }} </strong> !! Estos son tus datos:
  </h1>
  <h3>
    {{ organizationData?.name }}, {{ organizationData?.address }},
    {{ organizationData?.nif }}
  </h3>
  <h3>{{ organizationData?.email }}, {{ organizationData?.phone_number }}</h3>
  <h3>{{ organizationData?.delivery_points }}</h3>
</div>

<!-- ORDERS -->
<div class="container containerOrders col-11 marginBottomForFooter" *ngIf="section === 'orders'">
  <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
    <thead>
      <tr>
        <!-- HEADERS-->
        <th>NOMBRE</th>
        <th>APELLIDO</th>
        <th>EMAIL</th>
        <th>TELEFONO</th>
        <th>FECHA PEDIDO</th>
        <th>FORMATO</th>
        <th>CONTENIDO</th>
        <th>PRECIO</th>
        <th>PAGADO</th>
      </tr>
    </thead>
    <tbody>
      <!-- ARRAY -->
      <tr *ngFor="let order of ordersData">
        <td>{{ order?.user.name }}</td>
        <td>{{ order?.user.surname1 }}</td>
        <td>{{ order?.user.email }}</td>
        <td>{{ order?.user.phone_number }}</td>
        <td>{{ order?.order_date }}</td>
        <td>{{ order?.basket.format }}</td>
        <td>{{ order?.basket.content }}</td>
        <td>{{ order?.basket.price }} €</td>
        <td>{{ order?.paid }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- PUNTOS DE ENTREGA  //TODOhacerlo con el maps -->
<div class="container marginBottomForFooter" *ngIf="section === 'deliveryPoints'">

  <!-- ADD -->
  <div class="container containerDeliveryPoints">
    <h1>AÑADE UN PUNTO DE RECOGIDA</h1>
    <form novalidate [formGroup]="formDelivery" (ngSubmit)="addDeliveryPoint()">
      <div class="sign-up-form">

        <div class="group"><input id="orgDeliveryPoints" name="delivery_points" type="text" class="form-control"
            placeholder="Añade el punto de recogida" formControlName="delivery_points">
        </div>
        <div class="group mt-2"> <input type="submit" class="button" value="Añadir">
        </div>
      </div>
    </form>
  </div>

  <!-- SHOW -->
  <div class="container">
    <div class="card mb-3 grey" *ngFor="let point of deliveryPointsData;let index = index;">
      <!-- <img src="../../assets/img/delivery.jpg" class="card-img-top" /> -->
      <div class="card-body">
        <h3 class="card-title">Direccion de entrega</h3>
        <p class="card-text">
          {{ point }}
        </p>
        <button class="btn btn-danger" (click)="deleteDeliveryPoint(index)">Eliminar dirección</button>
      </div>
    </div>
  </div>
</div>

<!-- CREAR CESTAS  lista de las que hay y añadir-->
<div class="container col-11 marginBottomForFooter" *ngIf="section === 'baskets'">

  <!-- ADD BASKET -->
  <div class="container containerBaskets grey">
    <h1>AÑADE UNA CESTA</h1>
    <form novalidate [formGroup]="formBasket" (ngSubmit)="createBasket()">
      <div class="sign-up-form">

        <div class="group">
          <label>Elige un formato de cesta</label>
          <select name="format" class="form-control " formControlName="format">
            <option value="Small">Pequeña</option>
            <option value="Big">Grande</option>
            <option value="Others">Otros</option>
          </select>
        </div>
        <label>Introduce aquí todo el contenido de la cesta con las cantidades correspondientes</label>
        <div class="group">
          <textarea name="content" class="form-control" rows="3" formControlName="content"></textarea>
        </div>

        <div class="group">
          <label>Introduce aquí el precio de la cesta en euros
            <input name="price" type="number" min="1" max="100" step="any" formControlName="price" />
          </label>
        </div>
        <div class="group">
          <label> Selecciona la cantidad de stock disponible
            <input type="number" name="stock" min="1" max="100" formControlName="stock">
          </label>
        </div>
        <div class="group mt-2"> <input type="submit" class="button" value="Añadir">
        </div>

      </div>
    </form>
  </div>
  <!-- SHOW  DATATABLE-->
  <div class="container containerBaskets2 col-11">
    <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
      <thead>
        <tr>
          <!-- HEADERS-->
          <th>ACTIVA</th>
          <th>FORMATO</th>
          <th>CONTENIDO</th>
          <th>FECHA DE CREACION</th>
          <th>PRECIO</th>
          <th>STOCK</th>

        </tr>
      </thead>
      <tbody>
        <!-- ARRAY -->
        <tr *ngFor="let basket of basketsData">
          <td>{{ basket?.active }}</td>
          <td>{{ basket?.format }}</td>
          <td>{{ basket?.content }}</td>
          <td>{{ basket?.creation_date }}</td>
          <td>{{ basket?.price }} €</td>
          <td>{{ basket?.stock }}</td>

        </tr>
      </tbody>
    </table>
  </div>


</div>
