<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto p-0 mt-5">
      <div class="card">
        <div class="login-box">
          <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1"
              class="tab">USUARIO</label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2"
              class="tab">ORGANIZACION</label>
            <div class="login-space">

              <!-- Usuario -->
              <div class="login">
                <div class="group"><input id="user" type="text" class="input" placeholder="Pon aquí tu nombre"> </div>
                <div class="group"> <input id="pass" type="text" class="input"
                    placeholder="Pon aquí tu primer apellido"> </div>
                <div class="group"><input id="pass" type="text" class="input"
                    placeholder="Pon aquí tu segundo apellido">
                </div>
                <div class="group"><input id="pass" type="email" class="input" placeholder="Pon aquí tu email"> </div>
                <div class="group"> <input id="pass" type="tel" class="input" placeholder="Pon aquí tu telefono">
                </div>
                <div class="group"><input id="pass" type="text" class="input"
                    placeholder="Pon aquí tu nombre de usuario">
                </div>
                <div class="group"><input id="pass" type="password" class="input" data-type="password"
                    placeholder="Pon aquí tu contraseña">
                </div>
                <div class="group"><input id="pass" type="text" pattern="[0-9]{5}" class="input"
                    placeholder="Pon aquí tu código postal">
                </div>

                <div class="group"> <input type="submit" class="button" value="Registrate" [routerLink]="['/login']">
                </div>

              </div>

              <!--Organization -->
              <div class="sign-up-form">
                <div class="group"><input id="user" type="text" class="input" placeholder="Pon aquí el nombre"> </div>
                <div class="group"> <input id="pass" type="text" class="input" placeholder="Pon aquí la dirección">
                </div>
                <div class="group"><input id="pass" type="text" class="input" placeholder="Pon aquí el NIF">
                </div>
                <div class="group"><input id="pass" type="email" class="input" placeholder="Pon aquí el email">
                </div>
                <div class="group"> <input id="pass" type="tel" class="input" placeholder="Pon aquí el telefono">
                </div>
                <div class="group"><input id="pass" type="text" class="input"
                    placeholder="Pon aquí el nombre de usuario">
                </div>
                <div class="group"><input id="pass" type="password" class="input" data-type="password"
                    placeholder="Pon aquí la contraseña">
                </div>
                <div class="group"><input id="pass" type="text" class="input"
                    placeholder="Pon aquí los puntos de recogida">
                </div>
                <div class="group"> <input type="submit" class="button" value="Registrate" [routerLink]="['/login']">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
